# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build output
/dist
/build

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# Testing
/coverage

# Production build files
/build
/dist

# Misc
*.pem
.cache
.temp